body{
	font-size: 12pt;
	background-color: #f5f5f5;
	padding-left: 1em;
	color:white;
}

a {
	color: #F44;
	text-decoration: none;
}

a:hover {
	background-color: #FFA;
}

a img {
	border: none;
}

body > div, form {
	overflow: hidden;
	width: 35em;
}

div {
	overflow: hidden;
}

/* form styles */
fieldset {
	background-color: pink;
	border: 2px outset gray;
	border-radius: 10px;
	width:50%;
}


fieldset strong,
ul strong,
fieldset label.left,
fieldset .column {
	float: left;
	width: 11em;
}

h1 {
	color:purple;
}

input[type="submit"] {
	background-color: #FAA;
	font-size: 120%;
	font-weight: bold;
	color: white;
}
